absl-py==0.9.0
astor==0.8.1
cffi==1.14.0
control==0.8.3
cloudpickle==1.2.2
cycler==0.10.0
Cython==0.29.20
decorator==4.4.2
-e git+git@github.com:PFMassiani/edge.git@2d85ef51c36db1a66072a1395465e9191d04d333#egg=edge
entrypoints==0.3
fasteners==0.15
flake8==3.7.9
future==0.18.2
gast==0.2.2
glfw==1.11.2
google-pasta==0.2.0
gpytorch==1.1.1
grpcio==1.30.0
gym==0.15.7
h5py==2.10.0
imageio==2.8.0
importlib-metadata==1.7.0
joblib==0.14.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
Markdown==3.2.2
matplotlib==3.2.1
mccabe==0.6.1
mock==4.0.2
monotonic==1.5
mpi4py==3.0.2
mujoco-py==2.0.2.7
numpy==1.18.4
opt-einsum==3.2.1
pandas==1.0.5
Pillow==7.1.2
protobuf==3.12.2
pycodestyle==2.5.0
pycparser==2.20
pyflakes==2.1.1
pyglet==1.5.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
-e git+https://github.com/openai/safety-starter-agents.git@4151a283967520ee000f03b3a79bf35262ff3509#egg=safe_rl
-e git+git@github.com:openai/safety-gym.git@f31042f2f9ee61b9034dd6a416955972911544f5#egg=safety_gym
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.8.1
six==1.14.0
tensorboard==1.15.0
tensorflow==1.15.2
tensorflow-estimator==1.15.1
termcolor==1.1.0
threadpoolctl==2.1.0
torch==1.5.0
torchvision==0.6.0
Werkzeug==1.0.1
wrapt==1.12.1
xmltodict==0.12.0
zipp==3.1.0
