cffi==1.14.0
cloudpickle==1.2.2
cycler==0.10.0
Cython==0.29.20
decorator==4.4.2
entrypoints==0.3
fasteners==0.15
flake8==3.7.9
future==0.18.2
glfw==1.11.2
gpytorch==1.1.1
gym==0.15.7
imageio==2.8.0
joblib==0.14.1
kiwisolver==1.2.0
matplotlib==3.2.1
mccabe==0.6.1
monotonic==1.5
mujoco-py==2.0.2.7
numpy==1.17.5
Pillow==7.1.2
pycodestyle==2.5.0
pycparser==2.20
pyflakes==2.1.1
pyglet==1.5.0
pyparsing==2.4.7
python-dateutil==2.8.1
-e git+git@github.com:openai/safety-gym.git@f31042f2f9ee61b9034dd6a416955972911544f5#egg=safety_gym
scipy==1.4.1
six==1.14.0
torch==1.5.0
torchvision==0.6.0
xmltodict==0.12.0

setuptools==48.0.0